{{template "base/head" .}}
{{template "base/nav" .}}

<div class="container">
    <div class="mobhide">
        <div class="row align-items-center justify-content-center pt-3">
            <div class="col-4">
                <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings/help"></a>
            </div>
            <div class="col-4">
                <h2 class="text-center mb-0">How to Add a Room</h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
        </div>
        <div class="pt-2">
            <hr>
        </div>
    </div>
</div>
<div class="row align-items-center justify-content-center pt-3">
    <h2>Method 1: Add Room via Navigation Bar</h2>
</div>
<div class="mobhide">
    <div class="row align-items-center justify-content-center pt-3">
        <video width="1280" height="720" autoplay style="border-style: solid;" loop>
            <source src="/img/howto/add_room_2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="row align-items-center justify-content-center pt-3">
    <h2>Method 2: Add Room from "Rooms" page</h2>
</div>
<div class="mobhide">
    <div class="row align-items-center justify-content-center pt-3">
        <video width="1280" height="720" autoplay style="border-style: solid;" loop>
            <source src="/img/howto/add_room_1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}