	</body>
</head>	
	<div id="mobilenav" class="default-color">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item{{if .IsDashboard}} active{{end}}">
			<a class="nav-link" href="/dashboard"><i class="fas fa-tachometer-alt" style="font-size: 25px;"></i> <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item{{if .IsRooms}} active{{end}}">
			<a class="nav-link" href="/rooms"><i class="fas fa-bed" style="font-size: 25px;"></i></a>
		</li>
		<li class="nav-item" data-toggle="modal" data-target="#fullHeightModalRight">
			<a class="nav-link" href="#"> <i class="far fa-bell" style="font-size: 25px;"></i></a>
		</li>
	  </ul>
	</div>
