<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/normalize-8.0.1.min.css" />
	<link href="/fontawesome/css/all.min.css" rel="stylesheet" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/mdb.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css" />
	<title>{{if .Title}}{{ .Title }} - {{end}}{{.AppName}}</title>
	<link rel="icon" href="/img/favicon.png" />
	<link rel="manifest" href="/manifest.json">
	{{if .HeadExtra}}{{.HeadExtra}}{{end}}
	<style>
		.bottom-nav {
			font-size: var(--{{.User.FontSize}})!important;
		}

	</style>
</head>
<body class="bg">