/* The global CSS file */
.background {
background-color: #009688 !important;
}

#roomAvatarDiv {
color: white;
text-decoration-color: white;
margin-bottom: 2%;
}

#roomAvatar {
margin-right: 1em;
}

#addRoom {
    margin-right: 1em;
    height: 7em;
    width: 7em;
    }

.plsbewhite {
    stroke: white;
}
