/* The global CSS file */
body {
  color: white;
}

.modal {
  color: black;
}

.btn {
  border-radius: 100vw;
}

.circle {
  color: black;
  border-radius: 100%;
  width: 18vh;
  height: 18vh;
}
.circle-sm {
  width: 10vh;
  height: 10vh;
}

#roomAvatarDiv {
  color: white;
  text-decoration-color: white;
  margin-bottom: 2%;
}

#roomAvatar {
color: white;
text-decoration-color: white;
}

a{
    color: rgb(218, 218, 218);
}

::placeholder{
    color: white;
}

#addRoom {
  margin-right: 1em;
  height: 7em;
  width: 7em;
}
