/* The global CSS file */
.btn {
  border-radius: 100vw;
}

.circle {
  color: black;
  border-radius: 100%;
  width:  140px;
  height: 140px;
}
.circle-sm {
  width:  70px;
  height: 70px;
}

#roomAvatarDiv {
  text-decoration-color: white;
  margin-bottom: 2%;
}

#roomAvatar {
text-decoration-color: white;
}

.addRoom {
  opacity: 90%;
  background-color: none; 
}

.bell{
    font-size: 1.6em;
    color: red;
}


