<div class="card mb-4">
	<div class="card-body">

		<!--Options for the device-->
		<nav class="navbar navbar-light navbar-1 white elipsesNav">

			<!-- Navbar brand -->
			<a class="navbar-brand w-10 float-right" href="#"></a>

			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#options-{{.DeviceID}}"
				aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
				class="fas fa-ellipsis-h"></span></button>

			<!-- Collapsible content -->
			<div class="collapse navbar-collapse position-relative" id="options-{{.DeviceID}}">

				<!-- Links -->
				<ul class="navbar-nav mr-auto lilnav">
					<li class="nav-item active">
						<a class="nav-link black-text lilnav" type="button">Favourite<i
															  class="fas fa-heart black-text"></i><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link black-text lilnav" href="#">Options</a>
					</li>
					<li class="nav-item">
						<a class="nav-link black-text lilnav" href="#">Remove</a>
					</li>
				</ul>
				<!-- Links -->

			</div>
			<!-- Collapsible content -->
		</nav>
		<!--/Options for the device-->

		<!-- switch -->
		<div class="custom-control custom-switch float-left">
			<input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" {{if .Status}}
																checked {{end}} onclick="$.get('/toggle_device/{{.DeviceID}}');" />
			<label class="custom-control-label"
				   for="customSwitches-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
		</div>
		<!--/switch -->

		<h5 class="card-title text-center">{{.Description}}</h5>
		<p class="text-center pt-4">Brightness</p>
		<div class="d-flex justify-content-center">
			<span class="blue-text mr-2"><i class="fas fa-moon fa-lg" aria-hidden="true"></i></span>
			<form class="range-field">
				<input class="custom-range" type="range" min="0" max="10" value="{{.Brightness}}"
					  id="slider-{{.DeviceID}}"
					  onclick="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());" />
			</form>
			<span class="blue-text ml-2 "><i class="fas fa-sun fa-lg" aria-hidden="true"></i></span>
		</div>
	</div>
	<div class="card-footer" {{if .Status}}style="background-color: #FEFF9E;"
		 {{else}}style="background-color: #FF6666;" {{end}}>
		<small class="text-muted black-text">{{if .Status}}This light has been on for 4hrs 15mins{{else}}Last on:
			yesterday{{end}}</small>
	</div>
</div>
