<div class="card mr-3 mr-lg-0 mb-4">
	<div class="card-body w300">
		<div class="row">
		<!-- switch -->
		<div class="col-4">
		<div class="custom-control custom-switch float-left">
			<input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" {{if .Status}}
																checked {{end}} onclick="$.get('/toggle_device/{{.DeviceID}}');" />
			<label class="custom-control-label"
				   for="customSwitches-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
		</div>
		<!--/switch -->
		</div>

		<div class="col-4">
		<h5 class="card-title text-center">{{.Description}}</h5>
	</div>

		<div class="col-4 text-right">
		<a class="p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-h black-text"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
              aria-labelledby="navbarDropdownMenuLink-333">
			  <a class="dropdown-item black-text" href="#" id="fave-{{.DeviceID}}" onclick="$.get('/toggle_fave/{{.DeviceID}}');">
				Favourite <i class="fas fa-heart"></i></a>
			  <a class="dropdown-item black-text" href="#">Edit</a>
			  <a class="dropdown-item black-text" href="#">Remove</a>
        </div>
	</div>
	</div>

		<p class="text-center pt-4">Brightness</p>
		<div class="d-flex justify-content-center">
			<span class="blue-text mr-2"><i class="fas fa-moon fa-lg" aria-hidden="true"></i></span>
			<form class="range-field">
				<input class="custom-range" type="range" min="0" max="10" value="{{.Brightness}}"
					  id="slider-{{.DeviceID}}"
					  onclick="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());" />
			</form>
			<span class="blue-text ml-2 "><i class="fas fa-sun fa-lg" aria-hidden="true"></i></span>
		</div>
	</div>
	<div class="card-footer" {{if .Status}}style="background-color: #FEFF9E;"
		 {{else}}style="background-color: #FF6666;" {{end}}>
		<small class="text-muted black-text">{{if .Status}}Time on: for 4hrs 15mins{{else}}Last on:
			yesterday{{end}}</small>
	</div>
</div>
