<div class="card mr-3 mr-lg-0 mb-4">
	<div class="card-body w300">
		<div class="row">
			<!-- switch -->
			<div class="col-4">
				<div class="custom-control custom-switch float-left" id="div">
					<input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" {{if .Status}}
					  checked {{end}} onclick="$.get('/toggle_device/{{.DeviceID}}');" />
  
					<label class="custom-control-label" for="customSwitches-{{.DeviceID}}"></label>
				  </div>
				<div class="labeldiv" id="labeldiv">
					<label class="" id="label-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
				</div>
			</div>
			<!--/switch -->


			<div class="col-4">
				<h5 class="card-title text-center">{{.Description}}</h5>
			</div>

			<div class="col-4 text-right">
				<a class="p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-ellipsis-h"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
					aria-labelledby="navbarDropdownMenuLink-333">
					<div class="favediv" id="favediv">
						<a class="dropdown-item {{if .IsFave}}red-text{{else}}black-text{{end}}" href="#"
							id="fave-{{.DeviceID}}" onclick="$.get('/toggle_fave/{{.DeviceID}}');">
							{{if .IsFave}}Un-favourite{{else}}Favourite{{end}} <i class="fas fa-heart red-text"></i></a>
					</div>
					<a class="dropdown-item black-text" href="#">Edit</a>
					<a class="dropdown-item black-text" href="#" id="remove-{{.DeviceID}}" data-toggle="modal"
						data-target="#removeDevice-{{.DeviceID}}">Remove</a>
				</div>
			</div>
		</div>

		<p class="text-center pt-4">Brightness</p>
		<div class="d-flex justify-content-center">
			<span class="blue-text mr-2"><i class="fas fa-moon fa-lg" aria-hidden="true"></i></span>
				<form class="range-field">
					<input class="custom-range" type="range" min="0" max="10" value="{{.Brightness}}"
						id="slider-{{.DeviceID}}"
						onclick="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());" />
				</form>
			<span class="blue-text ml-2 "><i class="fas fa-sun fa-lg" aria-hidden="true"></i></span>
		</div>
	</div>
	<div class="footerdiv" id="footerdiv">
		<div class="card-footer" {{if .Status}}style="background-color: #FEFF9E;"
			{{else}}style="background-color: #FF6666;" {{end}}>
			<small class="text-muted black-text">{{if .Status}}Time on: {{CalcSince .ToggledUnix}}{{else}}Last on:
					{{CalcSince .ToggledUnix}}{{end}}</small>
		</div>
	</div>
</div>

<!-- Remove Device -->
<div class="modal fade" id="removeDevice-{{.DeviceID}}" tabindex="-1" role="dialog"
	aria-labelledby="removeDevice-{{.DeviceID}}" aria-hidden="true">

	<!-- Change class .modal-sm to change the size of the modal -->
	<div class="modal-dialog modal-sm" role="document">

		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100 black-text" id="removeDevice">Are you sure you want to remove this device?
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
				<button type="submit" data-dismiss="modal" class="btn btn-primary btn-sm" id="remove-{{.DeviceID}}"
					onclick="$.get('/remove_device/{{.DeviceID}}');reload();">Remove Device</button>
			</div>
		</div>
	</div>
</div>
<!-- /Remove Device -->
<script>
	function update() {
		$("#labeldiv").load(location.href + " #labeldiv>*", "");
		$("#footerdiv").load(location.href + " #footerdiv>*", "");
	}
	update(); // This will run on page load
	setInterval(function () {
		update() // this will run after every 1 seconds
	}, 1000);
</script>
