<div class="card w-100">
	<div class="card-header">
		<div class="row align-items-center">
			<!-- switch -->
			<div class="col" id="toggleHide-{{.DeviceID}}">
				<div class="custom-control custom-switch float-left">
					<input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}"
						{{if eq .Status true}}checked{{else}}unchecked{{end}}
						onclick="$.get('/toggle_device/{{.DeviceID}}');update();">

					<label class="custom-control-label" for="customSwitches-{{.DeviceID}}"></label>
				</div>
				<div class="labeldiv-{{.DeviceID}}" id="labeldiv-{{.DeviceID}}">
					<label class="mb-0">{{if .Status}}On{{else}}Off{{end}}</label>
				</div>
				<!--/switch -->
			</div>

			<div class="">
				<i id="lock-{{.DeviceID}}"></i>
				<h5 class="card-title text-center mb-0" id="name-{{.DeviceID}}">{{.Description}}</h5>
			</div>

			<div class="col text-right">
				<a class="p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<i class="fas fa-ellipsis-h"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
					aria-labelledby="navbarDropdownMenuLink-333">
					<a class="dropdown-item {{if .IsFave}}red-text{{else}}black-text{{end}}" href="#"
						id="fave-{{.DeviceID}}" onclick="$.get('/toggle_fave/{{.DeviceID}}');update();">
						<div class="favediv-{{.DeviceID}}" id="favediv-{{.DeviceID}}">
							{{if .IsFave}}Un-favourite{{else}}Favourite{{end}} <i class="fas fa-heart red-text"></i>
					</a>
				</div>
				<!-- <a class="dropdown-item black-text" href="#">Edit</a> -->
				<a class="dropdown-item black-text" href="#" onclick="edit({{.DeviceID}});">Edit</a>
				<a class="dropdown-item black-text" href="#" id="remove-{{.DeviceID}}" data-toggle="modal"
					data-target="#removeDevice-{{.DeviceID}}">Delete</a>
			</div>
		</div>
	</div>
</div>

<div class="card-body">
	<p class="text-center">Temperature</p>
	<div id="sliderHide-{{.DeviceID}}">
		<div class="d-flex justify-content-center">
			<span class="font-weight-bold blue-text mr-2 ">0<small>&deg;C</small></span>
			<form class="range-field text-center"
				oninput="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());update();">
				<input class="custom-range" type="range" min="0" max="28" value="{{.Temp}}" id="slider-{{.DeviceID}}" />
				<div class="sliderdiv-{{.DeviceID}}" id="sliderdiv-{{.DeviceID}}">
					<output for="slider-{{.DeviceID}}">{{.Temp}}<small>&deg;C</small></output>
				</div>
			</form>
			<span class="font-weight-bold red-text ml-2">28<small>&deg;C</small></span>
		</div>
	</div>
	<div id="button-{{.DeviceID}}" class="button-{{.DeviceID}} text-center justify-content-center d-flex"></div>
</div>

<div class="footerdiv-{{.DeviceID}}" id="footerdiv-{{.DeviceID}}">
	<div class="card-footer" {{if .Status}}style="background-color: #A8FFA8;" {{else}}style="background-color: #CDCDCD"
		;{{end}}>
		<p class="mb-0">{{if .Status}}Running Time: {{CalcSince .ToggledUnix}}{{else}}Last on:
			{{CalcSince .ToggledUnix}}{{end}}</p>

	</div>
</div>
</div>

<!-- Remove Device -->
<div class="modal fade" id="removeDevice-{{.DeviceID}}" tabindex="-1" role="dialog"
	aria-labelledby="removeDevice-{{.DeviceID}}" aria-hidden="true">

	<!-- Change class .modal-sm to change the size of the modal -->
	<div class="modal-dialog  modal-dialog-centered" role="document">

		<div class="modal-content" style="background-color: transparent!important;">
			<div class="card w-100">
				<div class="card-header">
				<h3 class="text-center mb-0" id="removeDevice">Remove {{.Description}}</h3>
			  </div>
				<div class="card-body">
				  <h4 class="text-center pb-1">Are You Sure?</h4>
				  <div class="text-center">
				  <button type="button" class="btn btn-danger-new bodycolor btn-phat" data-dismiss="modal">Cancel</button>
				  <button type="submit" class="btn btn-success-new bodycolor btn-phat" id="remove-{{.DeviceID}}"
				  onclick="$.get('/remove_device/{{.DeviceID}}');reload();">Remove Device</button>
				  </div>
				</div>
			  </div>
		</div>
	</div>
</div>
<!-- /Remove Device -->

<script>
	function edit(id) {//swaps room title with an input field and changes the button to a save button.
		var toggleDiv = document.getElementById("toggleHide-" + id);
		var sliderDiv = document.getElementById("sliderHide-" + id);
		sliderDiv.style.display = "none";
		toggleDiv.style.display = "none";
		var deviceName = document.getElementById("name-" + id);
		var inputField = document.createElement("input");
		inputField.setAttribute('id', 'new-' + id);
		inputField.setAttribute('class', 'black-text navcolor white-text');
		inputField.setAttribute('style', 'border: 2px solid white; opacity: 80%; border-radius: 50px; height: 35px; width: 200px; color: white;');
		inputField.setAttribute('placeholder', " Device Name:");
		deviceName.parentNode.replaceChild(inputField, deviceName);

		var viewButton = document.getElementById("button-" + id);
		var saveButton = document.createElement("a");
		saveButton.setAttribute('id', 'saveButton-' + id);
		saveButton.setAttribute('class', 'btn-new-1 text-center p-4 white-text justify-content-center pt-3 d-flex');
		saveButton.setAttribute('style', 'background-color: #3ddb75;');
		saveButton.setAttribute('onClick', 'postChanges(' + id + ');');
		saveButton.innerHTML = "Save";
		viewButton.parentNode.replaceChild(saveButton, viewButton);

		var lock = document.getElementById("lock-" + id);
		var close = document.createElement("a");
		close.setAttribute('id', 'close-' + id);
		close.setAttribute('class', 'fas fa-times-circle white-text pr-2');
		close.setAttribute('onClick', 'reload();');
		lock.parentNode.replaceChild(close, lock);
	}

	function postChanges(id) {
		var newName = document.getElementById("new-" + id).value;
		console.log(newName)
		$.get('/change_device/' + id + '/' + newName);
		reload();
	}
</script>
