<div class="card mr-3 mr-lg-0 mb-4">
	<div class="card-body w300">
		<div class="row">
			<!-- switch -->
			<div class="col-4">
			<div class="custom-control custom-switch float-left">
				<input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" 
				{{if eq .Status true}}checked{{else}}unchecked{{end}}
				onclick="$.get('/toggle_device/{{.DeviceID}}');">
				<label class="custom-control-label"
					   for="customSwitches-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
			</div>
			<!--/switch -->
		</div>
	
			<div class="col-4">
			<h5 class="card-title text-center">{{.Description}}</h5>
		</div>
	
			<div class="col-4 text-right">
			<a class="p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
				  aria-expanded="false">
				  <i class="fas fa-ellipsis-h black-text"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
				  aria-labelledby="navbarDropdownMenuLink-333">
				  <a class="dropdown-item black-text" href="#" onclick="$.get('/toggle_fave/{{.DeviceID}}');">Favourite <i
					class="fas fa-heart"></i></a>
				  <a class="dropdown-item black-text" href="#">Edit</a>
				  <a class="dropdown-item black-text" href="#">Remove</a>
			</div>
		</div>
		</div>

		<p class="text-center pt-4">Temperature</p>
		<div class="d-flex justify-content-center">
			<span class="font-weight-bold blue-text mr-2 ">0<small>&deg;C</small></span>
			<form class="range-field text-center" 
			oninput="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());">
				<input class="custom-range" type="range" min="0" max="28" value="{{.Temp}}" id="slider-{{.DeviceID}}"/>
				<output for="slider-{{.DeviceID}}">{{.Temp}}<small>&deg;C</small></output>
			</form>
			<span class="font-weight-bold red-text ml-2">28<small>&deg;C</small></span>
		</div>
	</div>
	<div class="card-footer" {{if .Status}}style="background-color: #A8FFA8;"
		 {{else}}style="background-color: #FF6666" ;{{end}}>
		<small class="text-muted">{{if .Status}}Heating since 09:24 (3hrs){{else}}Last on:
			yesterday{{end}}</small>
	</div>
</div>
