{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <div class="">
    <row class="col-12">
      <a class="fas fa-arrow-circle-left d-flex text-left fa-2x w-10" href="/settings"></a>
      <h2 class="text-center">Licences</h2>
      </row>
  </div>
  <p>iglü is built on open-source software and libraries.</p>
  <div class="pt-3 pb-3">
    <hr>
  </div>
<ul class="list-group">
	{{range $k, $v :=  .Libraries}}
	<a class="list-group-item" href="{{$v.ProjectURL}}">{{$k}}{{if $v.Author}}
		<span class="text-muted">by {{$v.Author}}</span>{{end}}</a>
	{{end}}
</ul>
</div>


{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}
