{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <h2 class="pt-5 text-center">Licenses</h2>
  <p>iglü is built on open-source software and libraries.</p>
  <div class="pt-3 pb-3">
    <hr>
  </div>
<ul class="list-group">
  <a class="list-group-item" href="">MDBootstrap</a>
  <li class="list-group-item" href="">jQuery</li>
  <li class="list-group-item">Darksky's Skycons</li>
  <li class="list-group-item">Polyfill</li>
  <li class="list-group-item">Popper.js</li>
  <li class="list-group-item">go-macaron</li>
  <li class="list-group-item">xorm</li>
  <li class="list-group-item">urfave's cli</li>
  <li class="list-group-item">spf13's viper</li>
  <li class="list-group-item">go-sqlite</li>
  <li class="list-group-item">adlio's darksky API</li>
  <li class="list-group-item">BurntSushi's TOML</li>
  <li class="list-group-item">Brian's gofakeit</li>
</ul>



{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}
