{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <h2 class="pt-5 text-center">Licenses</h2>
  <p>iglü is built on open-source software and libraries.</p>
  <div class="pt-3 pb-3">
    <hr>
  </div>
<ul class="list-group">
	{{range $k, $v :=  .Libraries}}
	<a class="list-group-item" href="{{$v.ProjectURL}}">{{$k}}{{if $v.Author}}
		<span class="text-muted">by {{$v.Author}}</span>{{end}}</a>
	{{end}}
</ul>



{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}
