{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
	<div class="mobhide">
		<div class="row justify-content-center align-items-center pt-3">
			<div class="col">
				<a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings"></a>
			</div>
			<div class="col">
				<h2 class=" text-center">Account Settings</h2>
			</div>

			<div class="col d-flex justify-content-end">
				<form method="POST" id="getcode">
					<input type="hidden" name="action" value="get_invite" />
					<button type="submit" class="mobhide btn btn-success-new m-0 btn-phat">
						Generate Invite Code</button>
				</form>
			</div>

		</div>
		<div class="pt-2">
			<hr>
		</div>
	</div>
	<div class="list-group pt-3">
		{{range .Accounts}}
		<div class="list-group-item list-group-item-action p-4">
			<div class="row align-items-center">
				<div class="col mr-auto" id="text">
					<i class="fas fa-user fa-lg pr-2"></i>
					{{.FirstName}}{{if .LastName}} {{.LastName}}{{end}} ({{.Username}})
					{{if eq .Role 1}}<span class="badge badge-danger">Admin</span>
					{{else if eq .Role 2}}<span class="badge badge-info">Guest</span>{{end}}
				</div>
				<div class="col text-right">
					<a href="/settings/accounts/edit_avatar/{{.Username}}">
						<i class="fas fa-user-circle fa-lg mr-lg-0 mr-2"></i>
						<span class="mobhide pr-3">Avatar</span>
					</a>
					<a href="/settings/accounts/edit/{{.Username}}">
						<i class="fas fa-edit fa-lg mr-lg-0 mr-2"></i>
						<span class="mobhide pr-3">Edit</span>
					</a>
					<a href="/settings/accounts/delete/{{.Username}}">
						<i class="fas fa-user-times fa-lg"></i>
						<span class="mobhide">Delete</span>
					</a>

				</div>
			</div>
		</div>
		{{end}}
	</div>



	<div class="deskhide">
		<form method="POST" id="getcode">
			<input type="hidden" name="action" value="get_invite" />
			<a class="btn btn-success-new navcolor btn-fix-bottom-middle"
				onclick="document.getElementById('getcode').submit()">
				Generate Invite Code</a>
		</form>
	</div>
</div>
{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}
