{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <h2 class="pt-5 text-center">Account Settings</h2>
  <div class="pt-3 pb-3">
    <hr>
  </div>
  <form method="POST">
	  <input type="hidden" name="action" value="get_invite" />
	  <button type="submit" class="btn btn-success">Generate an invite code</button>
  </form>

  <div class="list-group">
	  {{range .Accounts}}
    <button type="button" class="list-group-item list-group-item-action">
		<i class="fas fa-user" style="font-size: 15px;"></i>&nbsp; &nbsp;
		{{.FirstName}}{{if .LastName}} {{.LastName}}{{end}} ({{.Username}})
		{{if eq .Role 1}}<span class="badge badge-danger">Admin</span>
		{{else if eq .Role 2}}<span class="badge badge-info">Guest</span>{{end}}
		<!-- SUMMON NUMAN: MAKE THIS LOOK NICE -->
		<a class="btn btn-danger" href="/settings/accounts/delete/{{.Username}}">DELETE</a>
		<a class="btn btn-success" href="/settings/accounts/edit/{{.Username}}">EDIT</a>
    </button>
	{{end}}
  </div>

</div>

{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}
