{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <div class="mobhide">
    <div class="row align-items-center justify-content-center pt-4 pb-1">
      <div class="col-4">
        <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings"></a>
      </div>
      <div class="col-4">
        <h2 class="text-center mb-0">Appearance Settings</h2>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="pt-3">
      <hr>
    </div>
  </div>

  <div class="list-group pt-3">
    <a type="button" href="#" class="list-group-item list-group-item-action">
      <!-- Default checked -->
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
        <label class="custom-control-label" for="customSwitch1">Enable Dark Theme</label>
      </div>
    </a>
    <a type="button" href="#" class="list-group-item list-group-item-action">
      <label for="customRange2">Font Size</label>
      <input type="range" class="custom-range" min="1" max="5" value="3" id="customRange">
      <div class="text-center" id="fontsize">
        Normal
      </div>
      <br>
      <div class="row">
        <div class="col">
          <p class="text-muted">Refresh to enable changes</p>
        </div>
        <div class="col text-right">
          <!-- DOESNT REALLY WORK CUS IT DOESNT SAVE :( -->
          <button class="btn btn-new-1 w-50" onclick="disablesize()">Restore Defaults</button>
        </div>
      </div>
    </a>
  </div>


</div>

<!--SCRIPT FOR BUTTON-->
<script>
  function disablesize() {
    var styles = document.getElementById('access');
    styles.parentNode.removeChild(styles); // removes the styles in the header
  }
</script>

<script>
  var slider = document.getElementById("customRange");
  var output = document.getElementById("fontsize");

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function () {
    // output.innerHTML = this.value;

    switch (this.value) {
      case "1":
        output.innerHTML = "Tiny"
        output.style.fontSize = "x-small"
        $.get('appearance/font/0');
        // reload();
        break;

      case "2":
        output.innerHTML = "Small"
        output.style.fontSize = "small"
        $.get('appearance/font/1');
        // reload();
        break;

      case "3":
        output.innerHTML = "Normal"
        output.style.fontSize = "medium"
        $.get('appearance/font/2');
        // reload();
        break;

      case "4":
        output.innerHTML = "Large"
        output.style.fontSize = "x-large"
        $.get('appearance/font/3');
        // reload();
        break;

      case "5":
        output.innerHTML = "Huge"
        output.style.fontSize = "xxx-large"
        $.get('appearance/font/4');
        // reload();
        break;

      default:
        break;
    }
  }
</script>



{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}