{{template "base/head" .}}
{{template "base/nav" .}}

    <div class="container">
        <div class="mobhide">
            <div class="row align-items-center justify-content-center pt-3">
                <div class="col-4">
                    <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings"></a>
                </div>
                <div class="col-4">
                    <h2 class="text-center mb-0">Device Settings</h2>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                </div>
            </div>
            <div class="pt-2">
                <hr>
            </div>
        </div>

<div class="d-flex row align-items-center align-middle text-center" ></div>
<div class="list-group pt-3">
    {{range .Devices}}
    <div class="list-group-item list-group-item-action p-4">
        <div class="row align-items-center">
            <div class="col-lg-9 col-8" id="text">
                <i class="{{if eq .Type 0}}far fa-lightbulb{{else if eq .Type 1}}far fa-snowflake{{else if eq .Type 2}}
                as fa-plug{{else if eq .Type 3}}fas fa-volume-up{{end}}"></i>
                {{.Description}}{{if eq .Status true}}  <span class="badge badge-success">Connected</span>{{else if eq .Status false}}  <span class="badge badge-danger">Disconnected</span>{{end}}
            </div>
            <div class="col-lg-3 col-4 text-right">
                <a href="">
                    <i class="fas fa-edit fa-lg mr-lg-0 mr-2"></i>
                    <span class="mobhide pr-3">Edit</span>
                </a>
                <a href="">
                    
                    <i class="fas fa-trash-alt"></i>
                    <span class="mobhide">Delete</span>
                </a>
            </div>
        </div>
    </div>
    {{end}}
</div>
</div>

{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}