{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <div class="d-flex d-flex justify-content-center pt-4">
  <div class="col-lg-6 col-md-8 col-sm-12">
  <div class="card mr-lg-0 mb-4">
    <div class="card-header pt-4 pb-4">
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-1 d-flex justify-content-start p-0">
          <a class="fas fa-times-circle fa-lg" onclick="history.back();"></a>
        </div>
        <div class="col-10">
          <h2 class="text-center mb-0">Edit Account</h2>
        </div>
        <div class="col-1 p-0">

        </div>
      </div>
    </div>
    <div class="card-body">
        <form method="POST">

    <div class="form-row">
        <div class="col">       
            <!-- First name -->
            <div class="md-form mb-0 mt-0">
                <input type="text" id="fn" class="form-control white-text"
				   placeholder="First name" name="fname" autofocus="1" value="{{.EditUser.FirstName}}">
            </div>
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="md-form mb-0 mt-0">
				<input type="text" id="ln" class="form-control white-text" placeholder="Last name" name="lname" value="{{.EditUser.LastName}}">
            </div>
        </div>
    </div>

    <!-- E-mail -->
    <div class="md-form">
		<input type="email" id="em" class="form-control white-text mb-4"
		placeholder="E-mail" name="email" value="{{.EditUser.Username}}"
		readonly="1">
    </div>

    <div class="md-form">
        <input type="password" id="pw1" class="form-control white-text" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="password">
    </div>

     <div class="md-form">
        <input type="password" id="pw2" class="form-control white-text"
		placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="repassword">
    </div>

    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2">
        Passwords must be at least 8 characters
    </small>

    <h6 class="text-center">Select User Type:</h6>
            <div class="md-form pb-3  mr-lg-5 ml-lg-5 mr-sm-0 ml-sm-0">
              <select class="browser-default custom-select" id="select" name="role-type">
                <option value="" disabled selected>Choose Type</option>
                <option value="0">Normal</option>
                <option value="1">Admin</option>
                <option value="2">Guest</option>
                <option value="3">Restricted</option>
              </select>
            </div>


    <div class="d-flex justify-content-center">
      <div class="col-8">
        <button type="submit" class="btn btn-success-new btn-block coolcolor" id="registeruser">
          Update User
        </button>
      </div>
    </div>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>
{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}

