{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <div class="d-flex d-flex justify-content-center pt-4">
  <div class="col-lg-8 col-md-8 col-sm-12">
  <div class="card mr-lg-0 mb-4">
    <div class="card-header pt-4 pb-4">
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-1 d-flex justify-content-start p-0">
          <a class="fas fa-times-circle fa-lg" onclick="history.back();"></a>
        </div>
        <div class="col-10">
          <h2 class="text-center mb-0">Change Avatar</h2>
        </div>
        <div class="col-1 p-0">

        </div>
      </div>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="border border-light rounded mb-0">
            <div class="row pt-3 pb-3 mr-lg-0 ml-lg-0 mr-3 ml-3">
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/penguin_pixabay.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/cat_elina_sazonova.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/dog_Sebastian_Coman_Travel.jpg">
                    </a>
                </div>

                <div class="col-12 pb-4"></div>

                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/flower_Vlad_Bagacian.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/leaves_anna_shvets.jpg">
                    </a>
                </div>  
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/road_thelazyartistgallery.jpg">
                    </a>
                </div>

                <div class="col-12 pb-4"></div>

                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/seats_matt_hardy.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/spiral_sourav_mishra.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/stairs_akwice.jpg">
                    </a>
                </div>

                <div class="col-12 pb-4"></div>

                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/sunset_bob_ward.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/covid_cottonbro.jpg">
                    </a>
                </div>
                <div class="col-4 text-center">
                    <a href="#">
                    <img class="rounded-circle w-responsive box_shadow" alt="100x100" src="/img/profiles/cat_matthias_oben.jpg">
                    </a>
                </div>


            </div>
            </div>
    <div class="d-flex justify-content-center pt-4">
      <div class="col-lg-6 col-8">
        <button type="submit" class="btn btn-success-new btn-block bodycolor">
          Update Avatar
        </button>
      </div>
    </div>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>


<script>

</script>
{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}

