{{template "base/head" .}}
{{template "base/nav" .}}
{{template "base/flash" .}}

<div class="container">
  <div class="row align-items-center justify-content-center pt-3">
    <div class="col-3">
      <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings/plugins"></a>
    </div>
    <div class="col-6">
      <h2 class="text-center mb-0">[Title for Plugin]</h2>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center">
      <a class="btn btn-border-iglu btn-phat navcolor text-center p-3 m-0"
        href="https://market.nacdlow.com/{{.ID}}">View in Marketplace</a>
    </div>
  </div>
  <div class="pt-2">
    <hr>
  </div>

  <div class="row justify-content-center">

    <div class="col-12">
      <div class="list-group">
        <div class="list-group-item list-group-item-action">

          <div class="row align-items-center">

            <div class="d-flex align-items-center">
              <i class="fas fa-user pl-3"></i>
            </div>

            <div class="col-6">
              <h6>
                Option Title
              </h6>
              <p class="mb-0"><i>Description for Option</i></p>
            </div>

            <div class="col">

              <form method="POST">
                <select class="browser-default custom-select" id="select" name="#">
                  <option value="" disabled selected>Option Input Type</option>
                  <option value="0">#</option>
                  <option value="1">#</option>
                  <option value="2">#</option>
                  <option value="3">#</option>
                </select>

              </form>
            </div>
          </div>

        </div>

        <div class="list-group-item list-group-item-action">

          <div class="row align-items-center">

            <div class="d-flex align-items-center">
              <i class="pl-3 fas fa-globe-americas"></i>
            </div>

            <div class="col-6">
              <h6>
                Another Option Title
              </h6>
              <p class="mb-0"><i>Another Description for Option</i></p>
            </div>

            <div class="col">

              <form method="POST">

                <input type="text" class="form-control white-text disabled" placeholder="Another Option Type"
                  name="description">


              </form>
            </div>
          </div>
        </div>


        <div class="list-group-item list-group-item-action">

          <div class="row align-items-center">

            <div class="d-flex align-items-center">
              <i class="pl-3 fas fa-globe-americas"></i>
            </div>

            <div class="col-6">
              <h6>
                Yet Another Option Title
              </h6>
              <p class="mb-0"><i>Yet Another Description for Option</i></p>
            </div>

            <div class="col-lg col-3">

              <form method="POST">

                <div class="text-right custom-control custom-switch" id="div">
                  <input type="checkbox" class="custom-control-input" id="customSwitches" />

                  <label class="custom-control-label" for="customSwitches">
                    Enable/Disable
                  </label>
                </div>


              </form>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-lg-3 col-8">
      <a class="btn btn-new-iglu btn-border-red  btn-block btn-phat bodycolor text-center"
        href="#"><i class="fas fa-times pr-1"></i>
        Remove Plugin
      </a>
    </div>

    <div class="col-lg col-8 text-center">
      <button type="submit" class="btn btn-success-new btn-phat w-50 navcolor m-0">
        Save Settings
      </button>
    </div>

    <div class="col-lg-3 col-8 text-right">
      <a class="btn btn-new-iglu btn-border-iglu btn-phat btn-block bodycolor text-center"
        href="#"><i class="fas fa-redo-alt pr-1"></i>
        Reload Plugin</a>
    </div>
  </div>
</div>


{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}