{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container animated fadeIn">
  <h2 class="pt-5 text-center">Installed Plugins</h2>
  <div class="pt-3 pb-3">
    <hr>
  </div>

  <div class="list-group">
	  {{range .Plugins}}
	  <a type="button" {{if .SettingsRoute}}href="{{.SettingsRoute}}" {{end}}class="list-group-item list-group-item-action">
		  <i class="fas fa-cube" style="font-size: 15px;"></i>&nbsp;
		  &nbsp; {{.Name}} ({{.Version}}) by {{.Author}} <span href="https://market.nacdlow.com/{{.ID}}" class="btn btn-info btn-sm">View on Market</span>
		  {{if .SettingsRoute}}<span href="{{.SettingsRoute}}" class="btn btn-warning btn-sm">Settings</span>{{end}}
		</a>
	{{end}}
  </div>
</div>



{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}
