{{template "base/head" .}}
{{template "base/nav" .}}
{{template "base/flash" .}}
<div class="container">
  <div class="row align-items-center justify-content-center pt-3">
    <div class="col-3">
      <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings/plugins"></a>
    </div>
    <div class="col-6">
		<h2 class="text-center mb-0">{{.Plugin.Manifest.Name}} <span
			class="text-muted">({{.Plugin.Manifest.Version}}) by
			{{.Plugin.Manifest.Author}}</span></h2>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center">
      <a class="btn btn-border-iglu btn-phat navcolor text-center p-3 m-0"
        href="https://market.nacdlow.com/{{.Plugin.Manifest.Id}}">View in Marketplace</a>
    </div>
  </div>
  <div class="pt-2">
    <hr>
  </div>

  <div class="row justify-content-center">

    <div class="col-12">
      <div class="list-group">
		  {{range .Plugin.Config}}
		  <div class="list-group-item list-group-item-action"> <!-- option -->
          <div class="row align-items-center">
            <div class="d-flex align-items-center">
				{{if .IsUserSpecific}}<i class="fas fa-user pl-3" data-toggle="tooltip" data-placement="top" title="This setting is user-specific"></i>{{else}}
				<i class="fas fa-globe-europe pl-3" data-toggle="tooltip" data-placement="top" title="This setting applies to all users"></i>{{end}}
            </div>
            <div class="col-6">
				<h6> {{.Title}}</h6>
				<p class="mb-0"><i>{{.Description}}</i></p>
            </div>
            <div class="col">
				{{if eq .Type 0}}
                <input type="text" class="form-control black-text" placeholder="Another Option Type"
				  name="field-{{.Key}}">
				{{else if eq .Type 1}}
                <input type="number" class="form-control black-text" placeholder="Another Option Type"
				 name="field-{{.Key}}">
				{{else if eq .Type 2}}
				<select class="browser-default custom-select" id="select" name="field-{{.Key}}">
					{{range $k, $v := .Values}}
					<option value="{{$v}}">{{$v}}</option>
				  {{end}}
                </select>
				{{else if eq .Type 3}}
                <div class="text-right custom-control custom-switch" id="div">
					<input type="checkbox" class="custom-control-input" id="customSwitches" name="field-{{.Key}}" />

                  <label class="custom-control-label" for="customSwitches">
                    Enable/Disable
                  </label>
                </div>
				{{end}}

            </div>
          </div>
        </div>{{end}}
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-lg-3 col-8">
      <a class="btn btn-new-iglu btn-border-red  btn-block btn-phat bodycolor text-center"
        href="#"><i class="fas fa-times pr-1"></i>
        Remove Plugin
      </a>
    </div>

    <div class="col-lg col-8 text-center">
      <button type="submit" class="btn btn-success-new btn-phat w-50 navcolor m-0">
        Save Settings
      </button>
    </div>

    <div class="col-lg-3 col-8 text-right">
      <a class="btn btn-new-iglu btn-border-iglu btn-phat btn-block bodycolor text-center"
        href="#"><i class="fas fa-redo-alt pr-1"></i>
        Reload Plugin</a>
    </div>
  </div>
</div>


{{template "base/scripts" .}}
	<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
	</script>
{{template "base/tabnav" .}}
{{template "base/footer" .}}
