{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
	<div class="mobhide">
		<div class="row align-items-center justify-content-center pt-3">
			<div class="col-4">
				<a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings"></a>
			</div>
			<div class="col-4">
				<h2 class="text-center mb-0">Installed Plugins</h2>
			</div>
			<div class="col-4 d-flex justify-content-end align-items-center">
				<a class="btn btn-border-iglu btn-phat navcolor text-center m-0"
					href="https://market.nacdlow.com/{{.ID}}">Visit Marketplace<i
						class="fas fa-cart-arrow-down fa-lg pl-2"></i></a>
			</div>
		</div>
		<div class="pt-2">
			<hr>
		</div>
	</div>

	<div class="list-group pt-3">
		{{range .Plugins}}
		<div class="list-group-item list-group-item-action p-4">

			<div class="row align-items-center">
				<div class="col-lg-9 col-8">
					<i class="fas fa-cube fa-lg pr-2"></i>
					{{.Manifest.Name}} ({{.Manifest.Version}}) by
					{{.Manifest.Author}}

					{{if eq .State 0}}
					<span class="badge badge-warning">Stopped</span>
					{{else if eq .State 1}}
					<span class="badge badge-success">Running</span>
					{{else if eq .State 2}}
					<span class="badge badge-danger">Crashed</span>
					{{else}}
					<span class="badge badge-primary">Unknown</span>
					{{end}}
				</div>
				<div class="col-lg-3 col-4 text-right">
					<!--TEMPORARY FIX LATER WITH JS-->
					<a href="/settings/plugin/{{.Manifest.Id}}/{{if eq .State 0}}1{{else if eq .State 1}}0{{end}}">
						<i class="fas {{if eq .State 0}} fa-check {{else}} fa-times {{end}} fa-lg mr-lg-0 mr-2"></i>
						<span class="mobhide pr-3">
							{{if eq .State 0}}
							Enable
							{{else}}
							Disable
							{{end}}
						</span>
					</a>
					<a href="/settings/plugin/{{.Manifest.Id}}">
						<i class="fas fa-tools fa-lg"></i>
						<span class="mobhide">Options</span>
					</a>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<a class="deskhide btn btn-border-iglu btn-phat navcolor btn-fix-bottom-middle"
		href="https://market.nacdlow.com/{{.ID}}">
		Visit Marketplace <i class="fas fa-cart-arrow-down fa-lg white-text"></i></a>

</div>




{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}