{{template "base/head" .}}
{{template "base/nav" .}}

<div class="container">
    <div class="mobhide">
        <div class="row align-items-center justify-content-center pt-3">
            <div class="col-4">
                <a class="fas fa-arrow-circle-left fa-2x text-left" href="/settings"></a>
            </div>
            <div class="col-4">
                <h2 class="text-center mb-0">Privacy Settings</h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
        </div>
        <div class="pt-2">
            <hr>
        </div>
    </div>






    




</div>




{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}