{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
	<h2 class="pt-4 pb-3 text-center">What would you like to add?</h2>
	<div class="d-flex justify-content-center">
		<div class="col-lg-6 col-12 p-0">
			<a class="btn btn-block p-5 btn-new" href="/add/room">
				<h3>
					<div class="row align-items-center">
						<div class="col-10 p-0">
							New Room
						</div>
						<div class="col-2 text-right">
							<i class="fa fa-plus fa-lg"></i></div>
					</div>
				</h3>
			</a>
			<a class="btn btn-block p-5 btn-new" href="/add/device">
				<h3>
					<div class="row align-items-center">
						<div class="col-10 p-0">
							New Device
						</div>
						<div class="col-2 text-right">
							<i class="fa fa-plus fa-lg"></i></div>
					</div>
				</h3>
			</a>
			<a class="btn btn-block p-5 btn-new" href="/add/schedule">
				<h3>
					<div class="row align-items-center">
						<div class="col-10 p-0">
							New Schedule
						</div>
						<div class="col-2 text-right">
							<i class="fa fa-plus fa-lg"></i></div>
					</div>
				</h3>
			</a>
		</div>
	</div>
</div>
{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}