{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <div class="d-flex d-flex justify-content-center pt-4">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="card mr-lg-0 mb-4">
        <div class="card-header pt-4 pb-4">
          <div class="d-flex justify-content-center align-items-center">
            <div class="col-1 d-flex justify-content-start p-0">
              <a class="fas fa-times-circle fa-lg" onclick="history.back();"></a>
            </div>
            <div class="col-10">
              <h2 class="text-center mb-0">Add Device</h2>
            </div>
            <div class="col-1 p-0">

            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            <h6 class="text-center">Enter Device Name:</h6>
            <div class="md-form justify-content-center d-flex mt-3 mr-lg-5 ml-lg-5 mr-sm-0 ml-sm-0">
              <input type="text" class="form-control white-text mb-3 text-center" maxlength="11"
                placeholder="e.g. Smart Light" name="description">
            </div>
            <h6 class="text-center">Select Device Type:</h6>
            <div class="md-form pb-3  mr-lg-5 ml-lg-5 mr-sm-0 ml-sm-0">
              <select class="browser-default custom-select" id="select" name="device_type">
                <option value="" disabled selected>Choose Type</option>
                <option value="0">Light</option>
                <option value="1">Temperature Control</option>
                <option value="3">Speaker</option>
                <option value="2">Other</option>
              </select>
            </div>
            {{if not .RoomSelected}}
            <h6 class="text-center ">Belongs to room:</h6>
            <div class="md-form mr-lg-5 ml-lg-5 mr-sm-0 ml-sm-0">
              <select class="browser-default custom-select" id="select" name="room_id">
                <option value="-1" selected>Please select a room</option>
                {{range .Rooms}}{{if or $.IsAdmin (not .IsRestricted)}}<option value="{{.RoomID}}">{{.RoomName}}</option>{{end}}{{end}}
              </select>
            </div>
            {{else}}
            <input name="room_id" value="{{.RoomID}}" type="hidden" />
            {{end}}
            <div class="custom-control custom-checkbox text-center pt-2 d-none" id="mainLight">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="is_main_light_source">
              <label class="custom-control-label" for="defaultUnchecked">Main Light</label>
            </div>
            <div class="d-flex justify-content-center pt-4">
              <div class="col-8">
                <button type="submit" class="btn btn-success-new btn-block bodycolor">
                  Save Device
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{{template "base/scripts" .}}
<script>
  function light(){
  if($("select").val() == "0"){
    document.getElementById("mainLight").setAttribute('class','custom-control custom-checkbox text-center pt-2 d-block');
  }
  }
  light(); // This will run on page load
    setInterval(function () {
      light() // this will run after every 1 seconds
    }, 1000);
  </script>
{{template "base/tabnav" .}}
{{template "base/footer" .}}