{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
	<h2 class="pt-4 pb-1 text-center mobhide">Alerts</h2>
	<div class="pt-2 mobhide">
		<hr class="">
	</div>

	<div class="pt-3 animated fadeInUp faster">

		<!-- <p class="text-center text-muted">You have no notifications</p>-->

		<div class="pb-3">
			<div class="toast-header p-3">
				<i class="fas fa-bell fa-lg pr-2 animated swing infinite faster"></i>
				<h3 class="mr-auto mb-0">Notification Title</h3>
				<small>11 mins ago</small>
			</div>
			<div class="toast-body navcolor">
				Notification Message...
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate eligendi error esse distinctio
				dolor dolorum.
			</div>
		</div>

		<div class="toast-header p-3">
			<i class="fas fa-bell fa-lg pr-2 animated swing infinite faster"></i>
			<h3 class="mr-auto mb-0">Notification Title <i class="fas fa-exclamation-circle"></i>
			</h3>


			<small>11 mins ago</small>
		</div>
		<div class="toast-body navcolor">
			Notification Message...
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate eligendi error esse distinctio dolor
			dolorum.
		</div>
	</div>

</div>

</div>

<script>
	$('.toast').toast('show');
</script>

{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}