<div id="battery-div">
<div class="row justify-content-center">
    <div class="col-12 justify-content-center d-flex">
        <p class="mb-0 text-center">Current Battery Status</p>
    </div>
    <div class="col-12 justify-content-center d-flex">
        <div style="font-size: 6em;"> {{.BatteryPerc}}% </div>
    </div>
</div>
<div class="fas fa-rotate-270 {{if eq .BatState 0}}fa-battery-empty
					red-text{{else if eq .BatState 1}}orange-text
					fa-battery-quarter{{else if eq .BatState 2}}orange-text
					fa-battery-half{{else if eq .BatState 3}}green-text
					fa-battery-three-quarters{{else}}fa-battery-full
					green-text{{end}}" style="font-size: 7em;"></div>
</div>
</div>
