<div id="battery-div">
    <div class="row justify-content-center">
        <div style="font-size: 6em;"> {{.BatteryPerc}}% </div>
        <div class="fas fa-rotate-270 {{if eq .BatState 0}}fa-battery-empty
					red-text{{else if eq .BatState 1}}orange-text
					fa-battery-quarter{{else if eq .BatState 2}}orange-text
					fa-battery-half{{else if eq .BatState 3}}green-text
					fa-battery-three-quarters{{else}}fa-battery-full
                    green-text{{end}}" style="font-size: 7em;">
        </div>
    </div>
</div>