{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container animated fadeIn ep1">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-6 align-items-center d-flex justify-content-center">
      <div class="row">
        <div class="col-12">
          <h2 class="pt-5 text-center" id="lblGreetings"></h2>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-6 align-items-center pt-4 d-flex justify-content-center">
      <div class="mr-lg-5 ml-lg-5 white-text">
        <div class="card-body d-flex align-items-center">
          <div class="col-lg-6 col-12 text-center white-text">
            <h1 class="font-weight-bolder" id="">{{.Temperature}}°C</h1>
            <h5 class="" id="">{{.Summary}}</h5>
          </div>
          <!--<p class="" id="icon1">Icon</p>-->
          <div class="col-6 text-center mobhide">
            <canvas id="icon1" width="128" height="128"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-3 justify-content-center">
    <hr>
  </div>



  <div class="row justify-content-center">
    <div class="col-lg-6 col-6 align-items-center d-flex justify-content-center pb-2">
      <div id="battery" class="col-lg-6 col-6 align-items-center d-flex justify-content-center">
      </div>
    </div>
    <div class="col-lg-6 col-12 align-items-center">
      <canvas id="lineChart"></canvas>
    </div>
  </div>


  <div class="pt-3 pb-3">
    <hr>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6 justify-content-center">
      <h4 class="text-center pb-3"><i class="fas fa-heart"></i> Favourites </h4>
      <div class="row">
        {{range .Devices}}{{if .IsFave}}
        <div class="col-4 pb-4">
          <div class="card" id="device-{{.DeviceID}}">
            <div class="card-body p-3">
              <h5 class="text-center pb-2">{{.Description}}</h5>
              <!--Switch-->
              <row class="d-flex justify-content-center">
                <!-- <h5 class="card-title float-right pr-4">{{if eq .Type 0}}Light:{{else if eq .Type 1}}Temp Control:{{else if eq .Type 2}}TV:{{else if eq .Type 3}}Speaker:{{end}}</h5>-->
                <div class="custom-control custom-switch" id="div">
                  <input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" {{if .Status}}
                    checked {{end}} onclick="$.get('/toggle_device/{{.DeviceID}}');" />

                  <label class="custom-control-label" for="customSwitches-{{.DeviceID}}"></label>
                </div>
                <div class="labeldiv-{{.DeviceID}}" id="labeldiv-{{.DeviceID}}">
                  <label class="" id="label-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
                </div>


              </row>
              <!--/switch -->
            </div>
            <div class="footerdiv-{{.DeviceID}}" id="footerdiv-{{.DeviceID}}">
              <div class="card-footer pb-2 pr-2 pl-2 pt-1" {{if .Status}}style="background-color: #A8FFA8;"
                {{else}}style="background-color: #FF6666;" {{end}} id="footer">
                <small class="text-muted black-text" style="font-size: 0.7rem;">{{if .Status}}Time on: 4hrs
                  15mins{{else}}Last on:
                  yesterday{{end}}</small>
              </div>
            </div>
          </div>
        </div>
        {{end}}{{end}}
      </div>
    </div>


    <div class="col-lg-6 justify-content-center">
      <div class="pt-3 pb-3 deskhide">
        <hr>
      </div>
      <h4 class="text-center pb-3"><i class="fas fa-lightbulb"></i> Tips</h4>

      <!-- To Add new tip create new div with id content-x, x being next digit-->
      <div id="content-1">Almost half the money spent on energy bills is absorbed by heating and hot water costs!</div>
      <div id="content-2">Try to reduce the amount of tumble drying you do – it uses a lot of energy, and line-drying is
        free!</div>
      <div id="content-3">Keep curtains and blinds open during the day to let the warmth of the sunshine into your home.
        Close them at night to keep the heat in and the cold out.</div>
      <div id="content-4">If you’re entertaining guests, turn down the thermostat a few notches when they arrive. Their
        combined body heat will keep the room warm.</div>
      <div id="content-5">Dust and vacuum your radiators. Layers of dust stop heat from flowing freely.</div>
      <div id="content-6">Try to get into the habit of turning lights off when you leave a room. It could save between
        £50 and £90 a year just by remembering to flick a switch,</div>
      <div id="content-7">If the sun warms some rooms but not others, leave internal doors open to let the warm air
        circulate throughout your home.</div>
      <div id="content-8">If you’re cooking in the oven, don’t keep opening the oven door to check things, as you’ll let
        heat escape each time.</div>
      <div id="content-9">One minute less under the shower each day could shave £10 a year off your bills.</div>
      <div id="content-10">Almost half the money spent on energy bills is absorbed by heating and hot water costs!</div>
      <div id="content-11">Defrosting food in advance typically halves the cooking time and also means that you don’t
        need to use the energy of a microwave to defrost more quickly.</div>
      <div id="content-12">The energy it takes to conduct ten searches on Google could power a 60-watt light bulb. At
        any one time the energy used by the search engine could power 200,000 homes. Think of that the next time you go
        searching for sneezing pandas and performing hamsters.</div>

    </div>
  </div>
</div>




{{template "base/scripts" .}}
<script>
  
  function update() {
    {{range .Devices}}
    $("#labeldiv-{{.DeviceID}}").load(location.href + " #labeldiv-{{.DeviceID}}>*", "");
    $("#footerdiv-{{.DeviceID}}").load(location.href + " #footerdiv-{{.DeviceID}}>*", "");
    {{end}}
  }
  
  update(); // This will run on page load
  setInterval(function () {
    update() // this will run after every 1 seconds
  }, 1000);
  
</script>

<script>
  var divs = $('div[id^="content-"]').hide(),
    i = 0;

  (function cycle() {

    divs.eq(i).fadeIn(400)
      .delay(10000)
      .fadeOut(400, cycle);

    i = ++i % divs.length;
  })();
</script>

<script>
  var skycons = new Skycons({ "color": "white" });
  // on Android, a nasty hack is needed: {"resizeClear": true}

  // you can add a canvas by it's ID...
  skycons.add("icon1", Skycons.{{.WeatherIcon }});

  // ...or by the canvas DOM element itself.
  // skycons.add(document.getElementById("icon2"), Skycons.RAIN);

  // if you're using the Forecast API, you can also supply
  // strings: "partly-cloudy-day" or "rain".

  // start animation!
  skycons.play();

    // you can also halt animation with skycons.pause()

    //want to change the icon? no problem:
    //skycons.set("icon1", Skycons.PARTLY_CLOUDY_NIGHT);

    //want to remove one altogether? no problem:
    //skycons.remove("icon2");
</script>

<script>
  var myDate = new Date();
  var hrs = myDate.getHours();

  var greet;

  if (hrs < 12)
    greet = '<i class="fas fa-sun"></i> Good Morning';
  else if (hrs >= 12 && hrs <= 17)
    greet = '<i class="fas fa-mug-hot"></i> Good Afternoon';
  else if (hrs >= 17 && hrs <= 24)
    greet = '<i class="fas fa-cloud-moon"></i> Good Evening';

  document.getElementById('lblGreetings').innerHTML = greet + ", {{.User.FirstName}}";
</script>

<!--
  <div class="row justify-content-center">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="card p-3 warning-color circle flex-center flex-column">
        <div class="card-body">
          <h5 class="card-title"><small>£</small> 0.52</h5>
          <p class="card-text">per hour</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="pt-3 pb-3 deskhide">
        <hr>
      </div>
      <h4 class="text-center pb-3">Favourites</h4>
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <div class="card p-1 circle circle-sm flex-center flex-column">
            <div class="card-body">
              <h5 class="card-title">1</h5>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="card p-1 circle circle-sm flex-center flex-column">
            <div class="card-body">
              <h5 class="card-title">2</h5>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="card p-1 circle circle-sm flex-center flex-column">
            <div class="card-body">
              <h5 class="card-title">3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-3 pb-3">
    <hr>
  </div>

  <h5><i class="fas fa-lightbulb"></i> Tips</h5>
  <p>For every degree celcius that you have lower your heating, you may reduce
    your energy bill by 10%!</p>
-->
<script>
  //line
  var ctxL = document.getElementById("lineChart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: ["6:00am", "9:00am", "12:00pm", "15:00pm", "18:00pm", "21:00pm", "12:00am"],
      datasets: [{
        label: "Power Usage (kW)",
        data: [10, 30, 40, 19, 55, 42, 26],
        backgroundColor: [
          'rgba(	55, 102, 255, .5)',
        ],
        borderColor: [
          '#fff',
        ],
        borderWidth: 2,
      },
      {
        label: "Power Generation (kW)",
        data: [5, 16, 27, 45, 32, 12, 0],
        backgroundColor: [
          'rgba(255,165,0, .5)',
        ],
        borderColor: [
          'rgba(255,255,0, .7)',
        ],
        borderWidth: 2
      }
      ]
    },

    options: {
      responsive: true
    }
  });
</script>
<script>

  (function () {
    $("#battery").load("/battery_stat");
    setTimeout(arguments.callee, 1000);
  })();
</script>
{{template "base/footer" .}}
{{template "base/tabnav" .}}
