{{template "base/head" .}} {{template "base/nav" .}} {{template "base/scripts" .}}

<!--<div class="card-body card-body-cascade text-center">-->
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-md-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                            <a type="button" href="#" style="color: white;"><i class="far fa-lightbulb" style="font-size: 50px;"></i>
                                <div class="pt-1">Lights</div></a>
                    </div>
                    <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                            <a type="button" href="#" style="color: white;"><i class="fas fa-volume-up" style="font-size: 50px;"></i><div class="pt-1">Speakers</div></a>
                    </div>
                    <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                            <a type="button" href="#" style="color: white;"><i class="fas fa-tv" style="font-size: 50px;"></i><div class="pt-1">TV</div></a>
                    </div>
                    <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                            <a type="button" href="#" style="color: white;"><i class="far fa-snowflake" style="font-size: 50px;"></i><div class="pt-1">Heating</div></a>
                    </div>
                    <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                            <a id="navcolor" type="button" href="" style="color: white;"><i class="fas fa-plus" style="font-size: 50px;"></i><div class="pt-1">Add Device</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
<!--</div>-->

{{template "base/footer" .}}