{{template "base/head" .}} {{template "base/nav" .}} 

<div class="container animated fadeIn">
    
    <h4 class="pt-5 text-center">Home Control</h4>
    <div class="p-3"><hr></div>
    
    <div class="row justify-content-center pt-4 ">
        <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="far fa-lightbulb pb-3" href="/lights" style="color: white; font-size: 50px;"></a>
            <h6>Lights</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="fas fa-volume-up pb-3" href="/speakers" style="color: white; font-size: 50px;"></a>
            <h6>Speakers</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="fas fa-tv pb-3" href="#" style="color: white; font-size: 50px;"></a>
            <h6>TV</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="far fa-snowflake pb-3" href="/temperature" style="color: white; font-size: 50px;"></a>
            <h6>Temperature</h6>
        </div>
         <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="fas fa-lock pb-3" href="#" style="color: white; font-size: 50px;"></a>
            <h6>Locks</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-4 text-center pb-3">
            <a type="button" class="fas fa-plus pb-3" href="#" style="color: white; font-size: 50px;"></a>
            <h6>Add Control Module</h6>
        </div>
    </div>
</div>



<!--<div class="card-body card-body-cascade text-center">
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-auto">
            <div class="row">
                <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                    <a type="button" href="#" style="color: white;"><i class="far fa-lightbulb" style="font-size: 50px;"></i>
                                <div class="pt-1">Lights</div></a>
                </div>
                <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                    <a type="button" href="#" style="color: white;"><i class="fas fa-volume-up" style="font-size: 50px;"></i><div class="pt-1">Speakers</div></a>
                </div>
                <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                    <a type="button" href="#" style="color: white;"><i class="fas fa-tv" style="font-size: 50px;"></i><div class="pt-1">TV</div></a>
                </div>
                <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                    <a type="button" href="#" style="color: white;"><i class="far fa-snowflake" style="font-size: 50px;"></i><div class="pt-1">Heating</div></a>
                </div>
                <div class="col-lg-3 col-4 text-center pr-3 pl-3 pb-3">
                    <a id="navcolor" type="button" href="" style="color: white;"><i class="fas fa-plus" style="font-size: 50px;"></i><div class="pt-1">Add Device</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>-->

{{template "base/tabnav"}}
{{template "base/scripts" .}} {{template "base/footer" .}}
