{{template "base/head" .}}

<td class="bg" s>
   


<div class="row d-flex justify-content-center">
<div class="col-md-4 pt-5">
<form class="text-center p-5" action="#!">
    <p class="h4 mb-4">Welcome</p>

    <!-- E-mail -->
    <div class="md-form">
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="email">
    </div>
    <!-- Password -->
    <div class="md-form">
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">
    </div>

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" name="remember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="forgotpassword">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-default my-4 btn-block" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a href="register">Register</a>
    </p>

</form>
</div>

</div>
</div>
{{template "base/footer" .}}
