{{template "base/head" .}}
<script>
    if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/js/sw.js')
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
  });
}
</script>

<div class="mobhide">
    <div class="split split-right">
        <div class="centered">
            <form class="text-center" method="POST">
                <h2>Login</h2>

                <!-- E-mail -->
                <div class="md-form">
                    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4 white-text"
                        placeholder="E-mail" name="email" autofocus="1">
                </div>
                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4 white-text"
                        placeholder="Password" name="password">
                </div>

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Forgot password -->
                        <a href="/forgot">Forgot password?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-new-1 navcolor my-4 btn-block" type="submit">Continue</button>

                <!-- Register -->
                <p>Not a member?
                    <a href="register">Register</a>
                </p>

            </form>
        </div>

    </div>

    <div class="split split-left" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 -5px 10px rgba(0,0,0,0.22);">
        <div class="centered">
            <img src="/img/iglu-light.svg" alt="iglü" width="400">
            <div class="pb-4">
                <hr class="mt-0">
            </div>
            <div class="row justify-content-center pt-2">
                <div class="col-4 text-center pb-3">
                    <i class="fas fa-tachometer-alt pb-3" style="font-size: 50px;"></i>
                    <h3>Monitor</h3>
                </div>
                <div class="col-4 text-center pb-3">
                    <i class="fas fa-sliders-h pb-3" style="font-size: 50px;"></i>
                    <h3>Control</h3>
                </div>
                <div class="col-4 text-center pb-3">
                    <i class="fas fa-mug-hot pl-2 pb-3" style="font-size: 50px;"></i>
                    <h3>Relax</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="deskhide">
    <div class="split-vert split-bottom mt-2">
        <div class="centered centered-bottom">
            <form class="text-center" method="POST">
                <h3>Login</h3>


                <div class="md-form">
                    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4 white-text"
                        placeholder="E-mail" name="email">
                </div>

                <div class="md-form">
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4 white-text"
                        placeholder="Password" name="password">
                </div>

                <div class="d-flex justify-content-around">
                    <div>

                        <a href="/forgot">Forgot password?</a>
                    </div>
                </div>


                <button class="btn btn-new-1 navcolor my-4 btn-block" type="submit">Continue</button>


                <p>Not a member?
                    <a href="register">Register</a>
                </p>

            </form>
        </div>

    </div>

    <div class="split-vert split-top" style="box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.20);">
        <div class="centered pt-4">
            <img src="/img/iglu-light.svg" alt="iglü logo light" width="150">
        </div>
    </div>
</div>
</div>


{{template "base/footer" .}}
