{{template "base/head" .}}
{{template "base/nav" .}}

<body class="background">

</div>
<h4 class="pt-5 pr-5 d-flex text-center justify-content-center">Lights</h4>
<div class="p-3"><hr></div>

<div class="card-deck">

    <!--Card 1-->
    <div class="card m-4">
      <div class="card-body">
                <i class="fas fa-ellipsis-h pr-2 float-right"></i>
                <h5 class="card-title">Main Light</h5>
         <!-- Default switch -->
        <div class="custom-control custom-switch ">
             <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
            <label class="custom-control-label" for="customSwitches">On</label>
        </div>
        <p class="text-center pt-3">Brightness</p>
        <div class="d-flex justify-content-center  ">
            <span class="font-weight-bold purple-text mr-2 "><i class="fas fa-moon" aria-hidden="true"></i></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold purple-text ml-2 "><i class="fas fa-sun" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FEFF9E;">
        <small class="text-muted">This light has been on for 4hrs 15mins</small>
      </div>
    </div>

    <!--Card 2-->
    <div class="card m-4">
      <div class="card-body">
        <i class="fas fa-ellipsis-h pr-2 float-right"></i>
        <h5 class="card-title">Bedside Lamp</h5>
         <!-- Default switch -->
         <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitches1">
           <label class="custom-control-label" for="customSwitches1">Off</label>
       </div>
       <p class="text-center pt-3" style="opacity: 50%;">Brightness</p>
        <div class="d-flex justify-content-center" style="opacity: 50%;">
            <span class="font-weight-bold purple-text mr-2 "><i class="fas fa-moon" aria-hidden="true"></i></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold purple-text ml-2 mt-1"><i class="fas fa-sun" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FFA8A8;">
        <small class="text-muted">Last on yesterday</small>
      </div>
    </div>

    <!--Card 3-->
    <div class="card m-4">
      <div class="card-body">
        <i class="fas fa-ellipsis-h pr-2 float-right"></i>
        <h5 class="card-title">LED Strip</h5>
         <!-- Default switch -->
         <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitches2">
           <label class="custom-control-label" for="customSwitches2">Off</label>
       </div>
       <p class="text-center pt-3" style="opacity: 50%;">Brightness</p>
        <div class="d-flex justify-content-center" style="opacity: 50%;">
            <span class="font-weight-bold purple-text mr-2"><i class="fas fa-moon" aria-hidden="true"></i></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold purple-text ml-2 mt-1"><i class="fas fa-sun" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FFA8A8;">
        <small class="text-muted">Last on Sunday 14th January</small>
      </div>
    </div>
</div>

<!--Card 4-->
<div class="card-deck pt-4">
    <div class="card m-4">
      <div class="card-body">
        <i class="fas fa-ellipsis-h pr-2 float-right"></i>
        <h5 class="card-title">Night Light</h5>
         <!-- Default switch -->
         <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitches3">
           <label class="custom-control-label" for="customSwitches3">Off</label>
       </div>
       <p class="text-center pt-3" style="opacity: 50%;">Brightness</p>
        <div class="d-flex justify-content-center" style="opacity: 50%;">
            <span class="font-weight-bold purple-text mr-2 "><i class="fas fa-moon" aria-hidden="true"></i></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold purple-text ml-2 mt-1"><i class="fas fa-sun" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FFA8A8;">
        <small class="text-muted">Last on yesterday</small>
      </div>
    </div>

    
    <!--Card 5-->
    <div class="card m-4">
        <div class="card-body">
        <div class="text-center">
          <p class="text-center p-5 pt-4 mt-4 fas fa-plus text-center" style="font-size: 6em; opacity: 90%;"></p>
        </div>
        </div>
    </div>
    
    <!--Blank card to keep alignement-->
    <div class="card m-4" style="visibility: hidden;">
      <div class="card-body">
        <i class="fas fa-ellipsis-h pr-2 float-right"></i>
        <h5 class="card-title">LED Strip</h5>
         <!-- Default switch -->
         <div class="custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input" id="customSwitches2">
           <label class="custom-control-label" for="customSwitches2">Off</label>
       </div>
       <p class="text-center pt-3" style="opacity: 50%;">Brightness</p>
        <div class="d-flex justify-content-center" style="opacity: 50%;">
            <span class="font-weight-bold purple-text mr-2"><i class="fas fa-moon" aria-hidden="true"></i></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold purple-text ml-2 mt-1"><i class="fas fa-sun" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FFA8A8;">
        <small class="text-muted">Last on Sunday 14th January</small>
      </div>
    </div>
</div>
<div class="p-5 pt-0"><hr></div>
</body>
{{template "base/scripts" .}}
{{template "base/footer" .}}