{{template "base/head" .}}
{{template "base/nav" .}}

<div class="container animated fadeIn">
  <h2 class="pt-5 pr-3 text-center">Lights</h2>

  <div class="pt-3 pb-1">
    <hr>
  </div>

  <div class="card-deck">
    {{range .Lights}}{{if eq .Type 0}}
    <!--Card 1-->
    <div class="card m-3">
      <div class="card-body">

        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white elipsesNav">

          <!-- Navbar brand -->
          <a class="navbar-brand w-10 float-right" href="#"></a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#options-{{.DeviceID}}"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
              class="fas fa-ellipsis-h"></span></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse position-relative" id="options-{{.DeviceID}}">

            <!-- Links -->
            <ul class="navbar-nav mr-auto lilnav">
              <li class="nav-item active">
                <a class="nav-link black-text lilnav" type="button">Favourite<i
                    class="fas fa-heart black-text"></i><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text lilnav" href="#">Options</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text lilnav" href="#">Remove</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->

        <h5 class="card-title">{{.Description}}</h5>
        <!-- Default switch -->
        <div class="custom-control custom-switch ">
          <input type="checkbox" class="custom-control-input" id="customSwitches-{{.DeviceID}}" {{if .Status}} checked
            {{end}} onclick="$.get('/toggle_device/{{.DeviceID}}');"/>
          <label class="custom-control-label"
            for="customSwitches-{{.DeviceID}}">{{if .Status}}On{{else}}Off{{end}}</label>
        </div>
        <p class="text-center pt-3 position-absolute-center">Brightness</p>
        <div class="d-flex justify-content-center position-absolute-center">
          <span class="font-weight-bold purple-text mr-2 "><i class="fas fa-moon" aria-hidden="true"></i></span>
          <form class="range-field w-35">
            <input class="border-0" type="range" min="0" max="10" value="{{.Brightness}}" id="slider-{{.DeviceID}}" 
            onclick="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());"/>
          </form>
          <span class="font-weight-bold purple-text ml-2 "><i class="fas fa-sun" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="card-footer" style="background-color: #FEFF9E;">
        <small class="text-muted">This light has been on for 4hrs 15mins</small>
      </div>
    </div>
    {{end}}{{end}}


    <div class="card m-3">
      <div class="card-body d-flex align-items-center justify-content-center">
        <div>
          <a type="button" class="fas fa-plus black-text" style="font-size: 6em;" data-toggle="modal"
            data-target="#addModal"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD Light Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document" data-backdrop="false">
      <div class="modal-content" data-backdrop="false">
        <div class="modal-header">
          <h5 class="modal-title black-text" id="addModal">Add new Light</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-center black-text">Enter a name for your light(s):</h6>
          <div class="md-form text-center justify-content-center d-flex">
            <input type="text" id="" class="form-control mb-4 text-center w-50 pr-5" placeholder="e.g. Night Light"
              name="Room Name">
          </div>
        </div>
        <div class="modal-footer justify-content-center d-flex">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}