{{template "base/head" .}}

<td class="bg" s>
   


<div class="row d-flex justify-content-center">
<div class="col-md-4 pt-5">
<form class="text-center p-5" action="#!">
    <p class="h4 mb-4">Create New Password</p>

    <!-- NewPassword -->
    <div class="md-form">
        <input type="email" id="defaultloginFormEmail" class="form-control mb-4" placeholder="E-mail" name="newpassword">
    </div>

       <!-- re-enter new password -->
    <div class="md-form">
        <input type="email" id="defaultloginFormEmail" class="form-control mb-4" placeholder="E-mail" name="renewpassword">
    </div>

</div>

</div>
</div>
{{template "base/footer" .}}
