{{template "base/head" .}} {{template "base/nav" .}}

<div class="container animated fadeIn">
  
  <h1 class="display-1 text-center pt-5"><i class="fas fa-hard-hat"></i></h1>
  <h1 class="display-1 text-center mobhide pb-3">Under Construction!</h1>
  <h1 class="text-center deskhide pb-3">Under Construction!</h1>
  <h1 class="text-center">This page will be available soon.</h1>

</div>



{{template "base/flash" .}}
{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav" .}}