{{template "base/head" .}}

<div class="row d-flex justify-content-center">
    <div class="col-md-4 pt-5">
<form class="text-center p-5" action="#!">

    <p class="h4 mb-2">Sign Up<hr></p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <div class="md-form">
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" name="fname">
            </div>
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="md-form">
                <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" name="lname">
            </div>
        </div>
    </div>


     <!-- Username -->
    <div class="md-form">
        <input type="username" id="defaultRegisterFormName" class="form-control mb-4" placeholder="Username" name="username">
    </div>

    <!-- E-mail -->
    <div class="md-form">
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="email">
    </div>
    <!-- Password -->
    <div class="md-form">
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="password">
    </div>

     <!-- ReEnterPassword -->
     <div class="md-form">
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="repassword">
    </div>

    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Sign up button -->
    <button class="btn btn-default my-4 btn-block" type="submit">Sign up</button>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
<hr>
</form>
</div>
</div>

{{template "base/footer" .}}