{{template "base/head" .}}
{{template "base/nav" .}}

<div class="d-flex justify-content-center">
  <div class="row col-md-12 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 row d-flex justify-content-center" id="roomAvatarDiv"><a class="nav-link p-0" href="#" id="roomAvatar">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="mt-3 rounded-circle z-depth-2"
              alt="avatar image">
            <p class="pt-2 text-center">Living Room</p>
        </div>
        <div class="col-md-4 row d-flex justify-content-center"><a class="nav-link p-0" href="#" id="roomAvatar">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="mt-3 rounded-circle z-depth-2"
              alt="avatar image">
            <p class="pt-2 text-center">Kitchen</p>
        </div>
        <div class="col-md-4 row d-flex justify-content-center"><a class="nav-link p-0" href="/room/bedrooms" id="roomAvatar">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="mt-3 rounded-circle z-depth-2"
              alt="avatar image">
            <p class="pt-2 text-center">Bedroom</p>
        </div>
        <div class="col-md-4 row d-flex justify-content-center"><a class="nav-link p-0" href="#" id="roomAvatar">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="mt-3 rounded-circle z-depth-2"
              alt="avatar image">
            <p class="pt-2 text-center">Dining Room</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "base/scripts" .}}
{{template "base/footer" .}}