{{template "base/head" .}}
{{template "base/nav" .}}
{{template "base/flash" .}}
<div class="container">
  <div class="mobhide">
    <div class="row align-items-center justify-content-center pt-3 pb-1">
      <div class="col-4"></div>
      <div class="col-4">
        <h2 class="text-center mb-0">All Rooms</h2>
      </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="btn btn-border-iglu btn-phat navcolor w-50 text-center p-3 m-0 btn-lg" href="/add/room">
        Add Room</a>
      </div>
    </div>
    <div class="pt-2">
      <hr class="horizontal">
    </div>
  </div>
  <div class="row justify-content-center pt-3 pb-3">
    {{range .Rooms}}{{if or $.IsAdmin (not .IsRestricted)}}
    <div class="col-lg-4 col-md-6">
      <div class="card mr-lg-0 mb-4 ">
        <div class="card-header">
        <div class="row">
          <div class="col-8 d-flex align-items-center">
            <h4 class="mb-0" id="name-{{.RoomID}}">{{.RoomName}}</h4>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-end">
            <i class="{{if eq .RoomType 0}}fas fa-couch{{else if eq .RoomType 1}}fas fa-bed{{else if eq .RoomType 2}}
        fas fa-coffee{{else if eq .RoomType 3}}fas fa-utensils{{else if eq .RoomType 4}}fas fa-bath{{else if eq .RoomType 5}}
        fas fa-door-open{{else if eq .RoomType 6}}fas fa-toolbox{{else if eq .RoomType 7}}fas fa-socks{{else if eq .RoomType 8}}
        fas fa-warehouse{{else if eq .RoomType 9}}fas fa-user{{end}} fa-2x"></i>
        <a class="pl-3 p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-lg"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item black-text" href="#" onclick="edit({{.RoomID}});">Edit</a>
            {{if $.IsAdmin}}
            <a class="dropdown-item black-text" href="#" id="restrict-{{.RoomID}}" data-toggle="modal"
              data-target="#restrictRoom-{{.RoomID}}">
              {{if .IsRestricted}}Un-Restrict{{else}}Restrict{{end}}
            </a>
            {{end}}
            <a class="dropdown-item black-text" href="#" id="remove-{{.RoomID}}" data-toggle="modal"
              data-target="#removeRoom-{{.RoomID}}">Remove</a>
          </div>
          </div>
        </div>
      </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-6 text-center p-0">
         <div id="labeldiv-{{.MainLight.DeviceID}}" class="labeldiv-{{.MainLight.DeviceID}}">
          <div class="text-center pb-3" style="font-size: x-small;">Main Light</div>
				  <a class="far fa-lightbulb {{if.MainLight.Status}}yellow-text fa-2x{{else}}grey-text fa-2x{{end}}"
           onclick="{{if .HasLight}}$.get('/toggle_device/{{.MainLight.DeviceID}}');updateRoom();{{end}}"></a>
           <h6>{{if .HasLight}}{{if.MainLight.Status}}On{{else}}Off{{end}}{{else}}None{{end}}</h6>
          </div>
          </div>
            
          <div class="col-6 text-center p-0">
            
            <div id="labeldiv2-{{.MainTemp.DeviceID}}" class="labeldiv2-{{.MainTemp.DeviceID}}">
              <div class="text-center pb-3" style="font-size: x-small;">Temp Control</div>
					<a class="fas fa-power-off {{if not .HasTemp}}grey-text {{else}}{{if .MainTemp.Status}}green-text{{else}}red-text{{end}}{{end}} fa-2x"
           onclick="{{if .HasTemp}}$.get('/toggle_device/{{.MainTemp.DeviceID}}');updateRoom();{{end}}"></a>
           <h6>{{if .HasTemp}}{{if.MainTemp.Status}}On{{else}}Off{{end}}{{else}}None{{end}}</h6>
            </div>
            </div>
                <div class="col-12 d-flex justify-content-center pt-3">
                  <a class="btn btn-border-grey btn-new-1 text-center p-3 m-0" id="button-{{.RoomID}}" href="/room/{{.RoomID}}">
                    View Room</a>
                </div>
              </div>
            </div>

            <div class="col-6 d-flex align-items-center justify-content-end">
            <div class="tempdiv-{{.MainTemp.DeviceID}}" id="tempdiv-{{.MainTemp.DeviceID}}">
				<div class="card bodycolor circle-1 d-flex{{if gt .CurrentTemp 25}} circle-red
							{{else if gt .CurrentTemp 22}} circle-orange{{end}}">
                <div class="card-body d-flex align-items-center justify-content-center">
				  <h3 class="pt-1 white-text">{{.CurrentTemp}}<small>°C</small></h3>
                </div>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {{end}}{{end}}
  </div>
</div>

{{range .Rooms}}
<!-- Remove room -->
<div class="modal fade" id="removeRoom-{{.RoomID}}" tabindex="-1" role="dialog"
aria-labelledby="removeRoom-{{.RoomID}}" aria-hidden="true">

<!-- Change class .modal-sm to change the size of the modal -->
<div class="modal-dialog  modal-dialog-centered" role="document">

  <div class="modal-content" style="background-color: transparent!important;">
    <div class="card w-100">
      <div class="card-header">
      <h3 class="text-center mb-0" id="removeDevice">Remove {{.RoomName}}</h3>
    </div>
      <div class="card-body">
        <h4 class="text-center pb-1">Are You Sure?</h4>
        <div class="text-center">
        <button type="button" class="btn btn-danger-new bodycolor btn-phat" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success-new bodycolor btn-phat" id="remove-{{.RoomID}}"
          onclick="$.get('/remove_room/{{.RoomID}}');reload();">Remove Room</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{end}}
<!-- /Remove room -->
{{range .Rooms}}
<!-- Restrict room -->
<div class="modal fade" id="restrictRoom-{{.RoomID}}" tabindex="-1" role="dialog"
aria-labelledby="restrictRoom-{{.RoomID}}" aria-hidden="true">

<!-- Change class .modal-sm to change the size of the modal -->
<div class="modal-dialog  modal-dialog-centered" role="document">

  <div class="modal-content" style="background-color: transparent!important;">
    <div class="card w-100">
      <div class="card-header">
      <h3 class="text-center mb-0" id="restrictDevice">{{if .IsRestricted}} Un-Restrict {{.RoomName}} {{else}} Restrict {{.IsRestricted}} - {{.RoomName}} {{end}}</h3>
    </div>
      <div class="card-body">
        <h4 class="text-center pb-1">{{if .IsRestricted}}Are You Sure? This Room will be accessible to everyone. 
          {{else}}Are You Sure? Only admins will be able to access this room.{{end}}</h4>
        <div class="text-center">
        <button type="button" class="btn btn-danger-new bodycolor btn-phat" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success-new bodycolor btn-phat" id="restrict-{{.RoomID}}"
          onclick="$.get('/restrict_room/{{.RoomID}}');reload();">{{if .IsRestricted}}Un-Restrict Room{{else}}Restrict Room{{end}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{end}}
<!-- /Restrict room -->

{{template "base/scripts" .}}
<script>
  function updateRoom() {
    {{range .Rooms}}
    //$(" #restrictdiv-{{.RoomID}}").load(location.href + " #restrictdiv-{{.RoomID}}>*", "");
    {{if .HasLight}}
    $("#labeldiv-{{.MainLight.DeviceID}}").load(location.href + " #labeldiv-{{.MainLight.DeviceID}}>*", "");
    {{end}}
    {{if .HasTemp}}
    $("#labeldiv2-{{.MainTemp.DeviceID}}").load(location.href + " #labeldiv2-{{.MainTemp.DeviceID}}>*", "");
    $("#tempdiv-{{.MainTemp.DeviceID}}").load(location.href + " #tempdiv-{{.MainTemp.DeviceID}}>*", "");
    {{end}}
    {{end}}
  }
  
  updateRoom(); // This will run on page load
  setInterval(function () {
    updateRoom() // this will run after every 1 seconds
  }, 1000);

  function edit(id) {//swaps room title with an input field and changes the button to a save button.
    {{range .Rooms}}
    var roomH4 = document.getElementById("name-"+id);
    var inputField = document.createElement("input");
    inputField.setAttribute('id','new-'+id);
    inputField.setAttribute('class','black-text navcolor white-text p-3');
    inputField.setAttribute('style','border: 2px solid white; opacity: 80%; border-radius: 50px; height: 37px; width: 230px; color: white;');
    inputField.setAttribute('placeholder', 'Enter a new room name');
    roomH4.parentNode.replaceChild(inputField, roomH4);
    
    var viewButton = document.getElementById("button-"+id);
    var saveButton = document.createElement("a");
    saveButton.setAttribute('id','saveButton-'+id);
    saveButton.setAttribute('class','btn btn-border-green btn-new-1 text-center p-3 m-0 waves-effect waves-light');
    saveButton.setAttribute('onClick', 'postChanges('+id+');');
    saveButton.innerHTML = "Save Changes";
    viewButton.parentNode.replaceChild(saveButton, viewButton);
    {{end}}

  }

  function postChanges(id){
    var newName = document.getElementById("new-"+id).value;
    $.get('/change_name/'+id+'/'+newName);
    reload();
  }
</script>
{{template "base/tabnav" .}}
{{template "base/footer" .}}
