{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">

    <div class="deskhide">
        <h1 class="text-center pt-4 pb-3" id="h1">
            <i class="fas fa-search fa-lg animated flip infinite slow"></i>
        </h1>

        <div class="d-flex align-items-center justify-content-center pb-4">
            <h1 class="pr-2 mb-0" id="h1">
                Searching for Devices

            </h1>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="mobhide">
        <div class="row align-items-center justify-content-center pt-4 pb-4">
            <div class="col-lg-4">
                <a class="fas fa-arrow-circle-left fa-2x text-left" href="/add"></a>
            </div>
            <div class="col-lg-4">
            </div>

            <div class="col-lg-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-new-1 navcolor w-50 text-center p-3 m-0 btn-lg" href="">
                    Scan</a>
            </div>
        </div>
    </div>

    <div class="hr-text">
        <h3 class="pr-2 mb-0">Available Devices</h3>
    </div>
	<div id="deviceList">
                <div class="d-flex justify-content-center pt-5">
                    <h1 class="text-center pr-2 mb-0" id="h1">Searching for Devices</h1>
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
	</div>

    <div class="deskhide">
        <a class="btn btn-new-1 navcolor btn-fix-bottom-middle" href="#">
            Scan</a>
    </div>
</div>


{{template "base/scripts" .}}
	<script>
window.onload = function() {
    $("#deviceList").load("/add/search_device/list #devicesDiv>*", "");
};
	</script>
{{template "base/tabnav" .}}
{{template "base/footer" .}}
