{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">

    <h1 class="display-1 text-center pt-5 pb-5">
        <i class="fas fa-search fa-lg animated flip infinite slow"></i>
    </h1>
    <h1 class="text-center pb-3">
        Seaching for Devices<br>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </h1>
    <br>
    <div class="text-center">
        <a class="btn btn-new-1 navcolor w-50" href="/add">
            Cancel</a>
    </div>
</div>
</div>


{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}