<div id="devicesDiv">
<div class="d-flex justify-content-center pt-3">
    <div class="col-lg-8 col-12 p-0 ">
        <div class="list-group pt-3">
			{{range .Listings}}
            <div class="list-group-item list-group-item-action">
					<span style="font-size: small;">{{.PluginName}}</span>
			</div>
			{{range .Devices}}
            <div class="list-group-item list-group-item-action">
                <div class="row align-items-center">
                    <div class="col-lg-1 col-2 pr-0" id="text">
                        <i class="fas fa-plug fa-3x"></i>
                    </div>
                    <div class="col-lg-6 col-5 pl-2 pr-0" id="text">
						{{.Device.UniqueID}}
                        <br>
						<span style="font-size: small;">{{.Device.ManufacturerName}}
									 {{.Device.ModelName}}</span>
                    </div>
                    <div class="col-5 text-right pl-0">
						<a onclick="identify({{.PluginID}},{{.Device.UniqueID}});">
                            <span class="mobhide pr-1">Identify</span>
                            <i class="fas fa-fingerprint fa-lg mr-lg-0 pr-3"></i>

                        </a>
                        <a href="/add/device/connect/{{.PluginID}}/{{.Device.UniqueID}}">
                            <span class="mobhide pr-1">Connect </span>
                            <i class="fas fa-check fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
			{{end}}
			{{end}}
        </div>
    </div>
</div>
</div>
