{{template "base/head" .}}
{{template "base/nav" .}}
<div class="container">
  <h2 class="pt-4 pb-1 text-center mobhide">Settings</h2>
  <div class="pt-2 mobhide">
    <hr class="mb-0">
  </div>

  <!-- Search form -->
  <!-- <form class="form-inline md-form form-sm mt-0 pt-3 justify-content-center">
    <i class="fas fa-search" aria-hidden="true"></i>&nbsp; &nbsp;
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
  </form> -->
  <br class="mobhide">

  <div class="list-group text-center">
    <div class="row pt-3 pr-3 pl-3">
    <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/plugins" class="list-group-item flex-fill list-group-item-action p-4">
      <i class="fas fa-cart-arrow-down fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide">Plugins
    </a>
  </div>
  {{if .IsAdmin}}
  <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/accounts" class="list-group-item flex-fill list-group-item-action p-4">
      <i class="fas fa-users-cog fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Accounts
    </a>
  </div>
  {{end}}
    <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/appearance" class="list-group-item flex-fill list-group-item-action p-4">
      <i class="fas fa-palette fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Appearance
    </a>
    </div>
    <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/devices"class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-sliders-h fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Devices
    </a>
  </div>
  <div class="col-lg-4 col-12 p-0">
    <a href="/settings/notifications" class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-bell fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Notifications
    </a>
    </div>
    <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/privacy" class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-eye fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Privacy
    </a>
    </div>
    {{if .IsAdmin}}
    <div class="col-lg-4 col-12 p-0">
    <a  class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-wrench fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide"> Developer Options
    </a>
  </div>
  {{end}}
  <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/data" class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-table fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide">
	  Import/Export
    </a>
  </div>
  <div class="col-lg-4 col-12 p-0">
    <a  href="/settings/about" class="list-group-item list-group-item-action flex-fill p-4">
      <i class="fas fa-info-circle fa-2x-lg mr-lg-0 mr-2" ></i><br class="mobhide">
      About
    </a>
  </div>
  </div>
  </div>
</div>



{{template "base/scripts" .}}
{{template "base/tabnav" .}}
{{template "base/footer" .}}
