{{template "base/head" .}}
{{template "base/nav" .}}

<div class="container animated fadeIn">
  <h2 class="pt-5 pr-3 text-center">Speakers</h2>

  <div class="pt-3 pb-1">
    <hr>
  </div>

  <div class="card-deck">

    {{range .Speakers}}{{if eq .Type 3}}
    <!--Card 1-->
    <div class="card m-3">
      <div class="card-body">

        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white elipsesNav">

          <!-- Navbar brand -->
          <a class="navbar-brand w-10 float-right" href="#"></a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent14"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
              class="fas fa-ellipsis-h"></span></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent14">

            <!-- Links -->
            <ul class="navbar-nav mr-auto lilnav">
              <li class="nav-item active">
                <a class="nav-link black-text lilnav" type="button">Favourite<i
                    class="fas fa-heart black-text"></i><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text lilnav" href="#" data-toggle="modal"
                  data-target="#basicExampleModal2">Options</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text lilnav" href="#">Remove</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
        <h5 class="card-title">{{.Description}}</h5>
        <!-- Default switch -->
        <div class="">
          <a type="button" class="fas fa-power-off pb-3 {{if .Status}}green-text{{else}}red-text{{end}}" href="#"
            style="color: black; font-size: 2em;" onclick="$.get('/toggle_device/{{.DeviceID}}');"></a>
        </div>
        <p class="text-center pt-2">Volume</p>
        <div class="d-flex justify-content-center  ">
          <span class="font-weight-bold black-text mr-2 "><i class="fas fa-volume-mute" aria-hidden="true"></i></span>
          <form class="range-field w-35">
            <input class="border-0" type="range" min="0" max="10" value="{{.Volume}}" id="slider-{{.DeviceID}}" 
            onclick="$.get('/toggle_slider/{{.DeviceID}}/'+ $('#slider-{{.DeviceID}}').val());"/>
          </form>
          <span class="font-weight-bold black-text ml-2 "><i class="fas fa-volume-up" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="card-footer" style="background-color: #A8FFA8;">
        <small class="text-muted">Connected to David's Iphone</small>
      </div>
    </div>
    {{end}}{{end}}

    <div class="card m-3">
      <div class="card-body d-flex align-items-center justify-content-center">
        <div>
          <a type="button" class="fas fa-plus black-text" style="font-size: 6em;" data-toggle="modal"
            data-target="#addModal"></a>
        </div>
      </div>
    </div>

    <!--OPTIONS MODAL1-->
    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog" role="document" data-backdrop="false">
        <div class="modal-content" data-backdrop="false">
          <div class="modal-header">
            <h5 class="modal-title black-text" id="exampleModalLabel">Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="text-center black-text">Bass</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-minus" aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <h6 class="text-center black-text pt-2">Midrange</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-volume-minus"
                  aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <h6 class="text-center black-text pt-2">Treble</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-minus" aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <div class="text-center">
              <button class="default-button text-center mr-1">Connect</button><button
                class="default-button text-center ml-2">Disconnect</button>
            </div>
          </div>
          <div class="modal-footer justify-content-center d-flex">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!--OPTIONS MODAL2-->
    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title black-text" id="exampleModalLabel">Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="text-center black-text">Bass</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-minus" aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <h6 class="text-center black-text pt-2">Midrange</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-volume-minus"
                  aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <h6 class="text-center black-text pt-2">Treble</h6>
            <div class="d-flex justify-content-center" style="opacity: 50%;">
              <span class="font-weight-bold black-text mr-2 "><i class="fas fa-minus" aria-hidden="true"></i></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold black-text ml-2 mt-1"><i class="fas fa-plus" aria-hidden="true"></i></span>
            </div>
            <div class="text-center">
              <button class="default-button text-center mr-1">Connect</button><button
                class="default-button text-center ml-2">Disconnect</button>
            </div>
          </div>
          <div class="modal-footer justify-content-center d-flex">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD Speaker Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document" data-backdrop="false">
      <div class="modal-content" data-backdrop="false">
        <div class="modal-header">
          <h5 class="modal-title black-text" id="addModal">Add new Speaker</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-center black-text">Enter a name for your speaker:</h6>
          <div class="md-form text-center justify-content-center d-flex">
            <input type="text" id="" class="form-control mb-4 text-center w-50 pr-5" placeholder="e.g. TV Soundbar"
              name="Room Name">
          </div>

          <h6 class="text-center black-text pt-2">What type of speaker do you have?</h6>
          <div class=" black-text justify-content-center d-flex">
            <div class="custom-control custom-checkbox pr-5">
              <input type="checkbox" class="custom-control-input" id="wired">
              <label class="custom-control-label" for="wired">Wired</label>
            </div>
            <div class="custom-control custom-checkbox pl-5">
              <input type="checkbox" class="custom-control-input" id="bluetooth">
              <label class="custom-control-label" for="bluetooth">Bluetooth</label>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center d-flex">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {{template "base/scripts" .}}
  {{template "base/footer" .}}
  {{template "base/tabnav" .}}