{{template "base/head" .}}
{{template "base/nav" .}}

<div class="container animated fadeIn">
  
  <div class="row justify-content-center pt-3">

  <h2 class="pt-5 pr-3 text-center">Room Temperature</h2>



   
    <div class="card warning-color circle d-flex">
      <div class="card-body d-flex align-items-center justify-content-center">
        <h5 class="pt-1" style="font-size: 3em;">17<small>°C</small></h5>
      </div>
    </div>
  </div>

  <div class="pt-3 pb-1"><hr></div>
  

  <div class="card-deck">

    <!--Card 1-->
    <div class="card m-3">
        <div class="card-body">
          <!-- Default switch -->
          <div class="custom-control custom-switch float-left">
              <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
             <label class="custom-control-label" for="customSwitches">Off</label>
         </div> 
         
        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white elipsesNav">

          <!-- Navbar brand -->
          <a class="navbar-brand w-10 float-right" href="#"></a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent14"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
              class="fas fa-ellipsis-h"></span></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent14">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link black-text" type="button">Favourite<i class="fas fa-heart black-text"></i><span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" href="#">Options</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" href="#">Remove</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
          <h5 class="card-title text-center pr-5 pb-4">Radiator</h5>
         <p class="text-center pt-3">Temperature</p>
          <div class="d-flex justify-content-center">
              <span class="font-weight-bold blue-text mr-2 ">0<small>&deg;C</small></span>
              <form class="range-field w-35">
                <input class="border-0" type="range" min="0" max="100" />
              </form>
              <span class="font-weight-bold red-text ml-2">40<small>&deg;C</small></span>
            </div>
        </div>
        <div class="card-footer" style="background-color: #A8FFA8;">
          <small class="text-muted">Heating since 09:24 (3hrs)</small>
        </div>
      </div>

    <!--Card 2-->
    <div class="card m-3">
      <div class="card-body">
        <!-- Default switch -->
        <div class="custom-control custom-switch float-left">
            <input type="checkbox" class="custom-control-input" id="customSwitches1">
           <label class="custom-control-label" for="customSwitches1">Off</label>
       </div> 
       
        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white elipsesNav">

          <!-- Navbar brand -->
          <a class="navbar-brand w-10 float-right" href="#"></a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
              class="fas fa-ellipsis-h"></span></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent15">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link black-text" type="button">Favourite<i class="fas fa-heart black-text"></i><span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" href="#">Options</a>
              </li>
              <li class="nav-item">
                <a class="nav-link black-text" href="#">Remove</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
        <h5 class="card-title text-center pr-5 pb-4">Air Conditioning</h5>
       <p class="text-center pt-3" style="opacity: 50%;">Temperature</p>
        <div class="d-flex justify-content-center" style="opacity: 50%;">
            <span class="font-weight-bold blue-text mr-2 ">0<small>&deg;C</small></span>
            <form class="range-field w-35">
              <input class="border-0" type="range" min="0" max="100" />
            </form>
            <span class="font-weight-bold red-text ml-2">40<small>&deg;C</small></span></span>
          </div>
      </div>
      <div class="card-footer" style="background-color: #FFA8A8;">
        <small class="text-muted">Last on yesterday</small>
      </div>
    </div>

    <!--Card 3-->
    <div class="card m-3">
      <div class="card-body d-flex align-items-center justify-content-center">
        <div>
          <a type="button" class="fas fa-plus black-text" style="font-size: 6em;"></a>
        </div>
        </div>
    </div>    
</div>
</div>

{{template "base/scripts" .}}
{{template "base/footer" .}}
{{template "base/tabnav"}}

