{{template "sim/base/head" .}}
<h2>Simulator</h2>
<h3>Environment Status</h3>
<dl>
	<dt>Current simulation time</dt>
	<dd>{{.CurrentTime}}</dd>
	<dt>Outdoor temperature</dt>
	<dd>{{.Env.Weather.OutdoorTemp}}</dd>
	<dt>Outdoor humidity</dt>
	<dd>{{.Env.Weather.Humidity}}</dd>
	<dt>Cloud coverage</dt>
	<dd>{{.Env.Weather.CloudCover}}</dd>
	<dt>Power generation</dt>
	<dd>{{.Env.PowerGenRate}} kWh (capacity of {{.Env.SolarMaxPower}})</dd>
</dl>
<h3>Environment Model</h3>
<p>Regenerate simulation model from the database? <a class="btn" href="/sim/reload_db">Regenerate</a></p>
<h3>Override Weather</h3>
<form method="post">
	<label>Outdoor Temperature</label>
	<input type="number" value="{{.Env.Weather.OutdoorTemp}}">
	<br>
	<label>Humidity</label>
	<input type="number" value="{{.Env.Weather.Humidity}}">
	<br>
	<label>Cloud coverage</label>
	<input type="number" value="{{.Env.Weather.CloudCover}}">
	<br>
	<button class="btn" type="submit">Override</button>
</form>
<p><a href="/sim/pull-weather" class="btn">Pull weather from ext. API</a></p>
<h3>Change Time</h3>
<form method="post">
	<label>Tick speed (in ms)</label>
	<input type="number" value="{{.TickSpeed}}">
	<br>
	<button class="btn" type="submit">Change</button>
</form>
<p><a href="/sim/time/stop" class="btn">Stop time</a></p>

<h3>Minecraft Simulation Status</h3>
<dl>
	<dt>Status</dt>
	<dd>Connected (last ping x ms ago)</dd>
</dl>
{{template "sim/base/footer" .}}
