<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/normalize-8.0.1.min.css" />
        <link rel="stylesheet" href="/css/simulator.main.css" />
		<title>{{if .Title}}{{ .Title }} - {{end}}Simulator</title>
        <link rel="icon" href="/favicon.ico" />
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="nav-left">
				<a href="/" class="nav-title">
					<span class="nav-extra">Simulator</span></a>
				</div>
				<div class="nav-right">
					<a href="/" target="_blank">Go to app</a>
				</div>
			</div>
<div class="content">
